h1{
    background-color: rgb(70, 70, 67);
    color: white;
    font-size: 35px;
}
body{
    background-color: gray;
}
.instructions{
    color: white;
    background-color: rgb(70, 70, 67);
} 

h2{
    color: white;
    height: 63px;
    background-color: rgb(70, 70, 67);
}

ul{
    color: white;
    background-color: rgb(70, 70, 67);
}

p{
    color: white;
    background-color: rgb(70, 70, 67);
}

.crystal-container{
    display: flex;
}

#crystal-0{
    padding: 5%;
}

#crystal-1{
    padding: 5%;
}

#crystal-2{
    padding: 5%;
}

#crystal-3{
    padding: 5%;
}